/* Base styles for the contact section */
.contact-section {
    color: #4b5563;
}

/* Container for the contact content */
.container {
    padding: 6rem 2.5rem;
    margin: auto;
}

/* Flexbox for contact elements */
.flex-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5rem;
}

/* Contact title */
.contact-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #1a202c;
}

/* Contact description */
.contact-description {
    width: 100%;
    max-width: 50rem;
    margin: auto;
    line-height: 1.5;
}

/* Styling for each contact item */
.contact-item {
    padding: 1rem;
    width: calc(100% / 3);
}

/* Styling for the border of each contact item */
.contact-item-border {
    border: 2px solid rgba(229, 231, 235, 0.6);
    border-radius: 0.5rem;
    overflow: hidden;
}

/* Padding and styling for the content within each contact item */
.contact-content {
    padding: 1.5rem;
}

/* Styling for the title of each contact item */
.contact-item-title {
    font-size: 0.75rem;
    font-weight: 500;
    color: #cbd5e0;
    margin-bottom: 0.25rem;
}

/* Styling for the main content title of each contact item */
.contact-main-title {
    font-size: 1.125rem;
    font-weight: 600;
    color: #1a202c;
    margin-bottom: 0.75rem;
}

/* Styling for the description of each contact item */
.contact-item-description {
    line-height: 1.5;
    margin-bottom: 0.75rem;
}

/* Styling for the link and icon within each contact item */
.contact-link {
    color: #6366f1;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s ease;
}

/* Styling for the icon within each contact link */
.contact-icon {
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
}