/* Base styles for the Gallery section */
.gallery-section {
    padding: 2rem 0;
    /* Reduced top and bottom padding */
}

/* Styling for the container within the Gallery section */
.gallery-container {
    max-width: 1200px;
    /* Reduced maximum width */
    margin: 0 auto;
    /* Center align the container */
}

/* Styling for the flex container within the Gallery section */
.gallery-flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;
    /* Reduced negative margin */
}

/* Styling for the individual PaintingCard within the Gallery section */
.painting-card {
    flex: 0 0 calc(33.33% - 2rem);
    /* Reduced width and spacing */
    margin: 1rem;
    /* Reduced margin */
}

@media (max-width: 768px) {
    .painting-card {
        flex: 0 0 calc(50% - 2rem);
        /* Adjusted width for smaller screens */
    }
}

@media (max-width: 480px) {
    .painting-card {
        flex: 0 0 calc(100% - 2rem);
        /* Adjusted width for even smaller screens */
    }
}