/* Home.css */

.home {
    background-color: #5380d8;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 80px);
    /* Adjusted height to account for the header */
    position: relative;
    margin-top: auto;
    /* Adjusted margin-top to reduce space */
}

/* Gradient overlay styles */
.gradient-overlay {
    background: linear-gradient(to right, #34d399, #059669, #065f46);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.75;
}

/* Container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

/* Grid styles */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Text styles */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-xl {
    font-size: 1.25rem;
}

.text-2xl {
    font-size: 1.5rem;
}

.text-3xl {
    font-size: 1.875rem;
}

.text-4xl {
    font-size: 2.25rem;
}

.text-5xl {
    font-size: 3rem;
}

/* Font styles */
.font-bold {
    font-weight: 700;
}

.font-semibold {
    font-weight: 600;
}

/* Image styles */
.img-home {
    max-width: 100%;
    /* Adjust image size */
    height: auto;
    /* Ensure aspect ratio is maintained */
}

/* Responsive styles */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .w-64 {
        width: 100%;
    }

    .h-64 {
        height: auto;
    }
}